<footer class="footer">
	<small>
		TwiRelJudge by Daisuke Kataoka
	</small>
	<nav>
		<ul>
			<li><%= link_to "TopPage", root_path %></li>
			<li><%= link_to "UserPage", pages_show_path %></li>
		</ul>
	</nav>
</footer>
